@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Spirax&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
 width: 100vw;
 height: 4rem;
 background-color: #25121c;
 opacity: 0.9;
 position: fixed;
 overflow: hidden;
 top: 0;
 left: 0;
 display: flex;
 justify-content: center;
 align-items: center;
}
header nav{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
header nav a{
    color: white;
    font-family: "Spirax", system-ui;;
    text-decoration: none;
    font-size: 2rem;
}
.sect-hot{
 background-image: url(./assets/hot.jpg);
}
.sect-juicy{
background-image: url(./assets/juicy.jpg);
}
.sect-cosy{
background-image: url(./assets/cosy.jpg);
}
.sect-hot, .sect-juicy, .sect-cosy{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid darkred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
